[submodule "awesome3.5/.config/awesome/lain"]
	path = awesome3.5/.config/awesome/lain
	url = https://github.com/copycat-killer/lain
[submodule "nixos/nixpkgs"]
	path = nixos/nixpkgs
	url = ssh://git@github.com/borisbabic/nixpkgs
[submodule "hyprland-lua/.config/hypr/hyprsplit"]
	path = hyprland-lua/.config/hypr/hyprsplit
	url = https://github.com/shezdy/hyprsplit
